<?xml version="1.0"?>
<!--
/**
 *
 * @category    Jworks
 * @package     Jworks_CheckoutSubscribe
 * @author Jitheesh V O <jitheeshvo@gmail.com>
 * @copyright Copyright (c) 2017 Jworks Digital ()
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="checkout_submit_all_after">
        <observer name="checkout_submit_all_after_save_subscriber" instance="Jworks\CheckoutSubscribe\Observer\Backend\SaveOrderAfterSubmitObserver" />
    </event>
</config>
